---
import Header from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="First Tailwind ">
	<main class="xsm:w-auto w-[1280px] mx-auto">
		<Header></Header>
		<section class="header">
			<img src="img/hero.jpg" alt="">
		</section>

		<section>
			<div class="bg-wave-pattern h-6 bg-repeat-x relative -top-2"></div>
			<div class="bg-wave-pattern-dots text-center p-4 flex md:flex-row flex-col gap-3 justify-center">
				<a href="#" class="inline-block py-3 px-16 bg-black text-white font-bold border-transparent border-8 text-2xl rounded-3xl hover:border-gray-200 hover:bg-white hover:text-black transition duration-200">
					Buy Now</a>
				<a href="#" class="inline-block py-3 px-16 bg-red-500 text-white font-bold border-transparent border-8 text-2xl rounded-3xl hover:border-gray-200 hover:bg-white hover:text-black transition duration-200">
					Watch the Trailer</a>	
			</div>
			
			<div class="bg-wave-pattern bg-repeat-x h-6 relative top-2"></div>
		</section>
		<section class="bg-red-500 h-6"></section>
	</main>
</Layout>
