---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="First Tailwind ">
	<main>
		<div class="container bg-amber-200 mx-auto">
			<nav class="bg-gray-800">
				<nav class="bg-gray-600 flex justify-between items-center">
					<div class="Logo p-2">
						<h3 class="text-3xl font-serif">
						
						</h3>
					</div>
				</nav>
			</nav>
		</div>
	</main>
</Layout>
