---
const { text } = Astro.props;
---

<li
    class="
    block
     text-white
     hover:text-black
      hover:bg-white
       border-2
        border-yellow-400
         font-bold
          p-2
           rounded-3xl
           transition duration-500">
    <a href="#">{text}</a>
</li>
