---
export interface Props {
	text: string;
    display: string;
}

const { text,dislay } = Astro.props;
---


<li class=" text-white hover:text-lime-400 font-bold p-3">
    <a href="#">{text}</a>
</li>